<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GadgetAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GadgetAdmin.My.MySettings>
            <setting name="ProjectListFile" serializeAs="String">
                <value>Q:\Callum\Intranet\Gadget\Input\Project List.xml</value>
            </setting>
            <setting name="EmployeeListFile" serializeAs="String">
                <value>Q:\Callum\Intranet\Gadget\Input\Employee List.xml</value>
            </setting>
        </GadgetAdmin.My.MySettings>
    </userSettings>
</configuration>